body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(10205054.jpg);
    color: aliceblue;
}
.titulo1{
    color: rgb(192, 129, 121);
}
.titulo2{
    color: rgb(218, 218, 65);
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .logodoa{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
  .buttonretorn{
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    font-size: 25px;
    position: relative;
    padding-left: 20px;
  }

  .lobutton{
    list-style-type: none;
  }

  .gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .central{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 40px;
  }

  .central02{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
  }

.image-container{
    height: auto;
    max-width: 100%;
    display: flex; 
    justify-content: center;
    gap: 200px; 
}
 footer{
  background-color: chocolate;
  width: 100%;
  color: white;
  position: relative;
  padding-left: 20px;
  margin-top: 0px;
  align-items: center;
 }

.saolazaro{
  margin-top: -10px;
 margin-right: 90px;
}
.preffortaleza{
  margin-right: 90px;
}
.universidade{
  margin-right: 90px;
}

.policia{
  margin-right: 90px;
}

.govcea{
  margin-right: 90px;
}

.semace{
  margin-right: 90px;
}

.doacao{
  
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255); 
  position: relative;
  top: -130px;
}
.doar{
  list-style-type: none;
}

.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: -50px;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: -10px;
}

  .h2import{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
  }

  .pimport{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -100px;
  }
  .h2prev{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
  }

  .video2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -100px;
  }

  .pprev{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -200px;
  }

  .gatodaep{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top: -70px;
  }
  
  
    .pdoa {
      text-align: center;
      margin: 0 auto; 
      padding: 20px 0;
  }

  .gatomenor{
    width: 30%;
    height: auto;
  }

  .gatomenor2{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top: -50px;
    width: 30%;
    height: auto;
  
  }